html,
body {
    height: 100%;
}
body {
    color: #a38d6d;
}
strong {
    color: #bb9e74;
    font-weight: bold;
}
.gemTable  {
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.gem-cell-content .item-complete {
    position: absolute;
    top: 3px;
    left: 7px;
}
.gem-cell-content.disabled,
.gem-cell-content.disabled a {
    color: #999999;
    background-color: #464545;
    text-decoration: line-through;
}
.gem-cell-content.disabled a {
    pointer-events: none;
}
.notAvailableGemTable .row {
    margin-bottom: 10px;
}
.gem-cell-content {
    position: relative;
    text-align: center;
    border: 1px solid #000;
    padding: 5px;
    min-height: 145px;
    background-color: #282828;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.gem-cell-content span{
    width: 100%;
}
.clear-input {
    margin-left: 20px;
}
.loading-container .center-block {
    width: 18px;
}
.loading-icon {
    -webkit-animation: spin 1s infinite linear;
}
.build-gem-link-container .buildGemLink {
    margin-top: 12px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}
a {
    color: #A38B63;
    text-decoration: underline;
}
a:hover {
    color: #A38B63;
}
.nothing-found-row .icon-container {
    width: 100px;
    text-align: center;
}
.nothing-found-row .icon-container .fa {
    font-size: 100px;
}
.color-blue {
    background-color: #0000b2;
}
.color-red {
    background-color: #B20000;    
}
.color-green {
    background-color: #004600;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
main.container {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
    padding: 0 0 20px;
}
main.container .main-form-container {
    margin-top: 20px;
}
.footer {
    height: 20px;
}
.footer .container {
    text-align: center;
}
.footer .text-muted, .footer .text-muted a, .footer .text-muted:hover {
    color: #3E382F;
}
.foundGemsContainer .gems-table-container {
    text-align: center;
    vertical-align: middle;
}
.foundGemsContainer .gems-table-container .header-row{
    border-bottom: 1px solid #4C453A;
    padding-bottom: 5px;
}
.foundGemsContainer .gems-table-container .header-row .gem-icon-col{
    display: block;
}
.foundGemsContainer .gems-table-container .header-row .gem-icon-col #gem-icon-col{
    margin-left: 5px;
}
.foundGemsContainer .gems-table-container .content-row {
    padding-top: 10px;
}
.foundGemsContainer .gems-table-container .content-row .skill-gem {
    cursor: pointer;
    line-height: 25px;
}
.foundGemsContainer .gems-table-container .content-row .iconImageLink img{
    width: 30px;
}
.foundGemsContainer .gems-table-container .content-row .skill-gem.disabled{
    color: #999999;
    background-color: #464545;
    text-decoration: line-through;
}
.foundGemsContainer .gems-table-container .content-row .centered-col-content {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.foundGemsContainer .gems-table-container .content-row:nth-child(odd) {
    background-color: #282828;
}

.foundGemsContainer .gems-table-container .content-row div{
    margin-bottom: 5px;
    line-height: 25px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.modal-link {
    margin-left: 10px;
}
#commentModal .modal-body {
    padding-bottom: 0px;
}

.gem-guide-form .form-group label {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.gem-guide-form .form-group label i {
    padding-left: 10px;
    cursor: pointer;
}
.qtip { border: 1px solid; border-color: #585858; background-color: #222222; color: #a38d6d; font-weight: bold;}
.qtip .qtip-content { font-size: 14px; }
.qtip.gem-guide-content{max-width: 625px;}
.qtip.gem-guide-content p{padding: 10px; font-size: 14px; line-height: 1em;}